// src/sass/main.scss
@import '~/vuetify/src/styles/styles.sass';

$flat-ui: () !default;
$flat-ui: map-deep-merge(
  (
    'turquoise': #1abc9c,
    'emerald': #2ecc71,
    'peter-river': #3498db,
    'amethyst': #9b59b6,
    'wet-asphalt': #34495e,
    'green-sea': #16a085,
    'nephritis': #27ae60,
    'belize-hole': #2980b9,
    'wisteria': #8e44ad,
    'midnight-blue': #2c3e50,
    'sun-flower': #f1c40f,
    'carrot': #e67e22,
    'alizarin': #e74c3c,
    'clouds': #ecf0f1,
    'concrete': #95a5a6,
    'orange': #f39c12,
    'pumpkin': #d35400,
    'pomegranate': #c0392b,
    'silver': #bdc3c7,
    'asbestos': #7f8c8d,
  ),
  $flat-ui
);

$color-navbar-dark: map-get($flat-ui, 'midnight-blue');
$color-panel-dark: map-get($flat-ui, 'wet-asphalt');
$color-tooltips: map-get($flat-ui, 'green-sea');
$field-background-color: #0000002f;
$field-disabled-text-color: darken(map-get($flat-ui, 'clouds'), 10);
$field-disabled-background-color: repeating-linear-gradient(
  45deg,
  $field-background-color,
  $field-background-color 10px,
  #ffffff02 10px,
  #ffffff02 20px
);

// starts at...
$grid-breakpoints: (
  'xs': 0px,
  'sm': 0px,
  'md': 768px,
  'lg': 1124px - 16px,
  'xl': 1920 - 16px,
);
