# workflow to run bun run build to check all's well
name: CI Check
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: |
          sudo apt-get update
          sudo apt-get install -y build-essential python3
      - name: Install RSW from cargo
        run: cargo install rsw
      - uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: 'latest'
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install
      - run: bun run build